body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Arial", Serif;
  background-color:#f4f4f4ec;
}
#navbar {
  overflow: hidden;
  background-color: #333;
}
#navbar a {
  float: left;
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
#navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}
#dropdown {
  float: left;
  overflow: hidden;
}
#dropdown #dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
#navbar a:hover, #dropdown:hover #dropbtn {
  background-color: deeppink;
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#dropdown-content a:hover {
  background-color: deeppink;
  color: #f4f4f4ec;
}
#dropdown:hover #dropdown-content {
  display: block;
}
.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}
.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color: #fff;
  display:block;
  transition:0.3s;
}
.side-nav a:hover{
  color: deeppink;
}
.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}
#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}
@media(max-width:568px){
  .navbar-nav{display:none}
}
h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
}
h2 { 
  color: deeppink;
}
i {
  float: right;
  text-transform: uppercase;
  font-weight: bolder;
}

#welcome-section{
  background-image: url(../images/mulenzi-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
}
#welcome-text{
  width:550px;
  background-color: white;
  text-transform: initial;
  padding: 30px;
  position: relative;
  left: 90px;
  top: 90px;
  opacity: 0.8;
}
.welcome-btn{
  width:550px;
  text-align: center;
  padding: 30px;
  position: relative;
  left: 90px;
  top: 90px;
}
.welcome-btn button{
  width: 60%;
  border: 1px solid rgba(102, 102, 102, 0.918);
  background-color: deeppink;
  padding: 12px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  opacity: 0.8;
}
.welcome-btn a{
  text-decoration: none;
  color: aliceblue;
}
@media(max-width:760px){
  #welcome-text{
    width:91%;
    color: floralwhite;
    position: static;
    background-size: cover;
    opacity: 1;
  }
  .welcome-btn{
    display: none;
  }
  #welcome-section{
    background-image:none;
    width: 100%;
    height: 20%;
  }
  .container {
    padding: 16px;
    text-align: center;
  }
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}